.menu {
  display: flex;
  border-radius: 10px;
  width: 92vw;
  padding-left: 20px;
  margin: 10px 0px;
}
.element {
  display: flex;
  align-items: center;
  position: relative;
  left: 42%;
  padding-top: 13px;
  
}
.txt-color {
  color: #ee8915;
}
